{% extends template.self %} {% block book_header %}
<div class="egret-dev-navbar " id="egret-navbar">
    <ul class=" ">
        <li>
            <a class="logo" style="display: inline-block" target="_blank" href="http://egretia.io"><img src="../share/images/egretia-logo.png" alt=""></a>
        </li>
        <li onmouseover="overFun(this)" onmouseout="outFun(this)">
            <a href="javascript:;">Egretia SDK</a>
            <ul class="" style="display: none;">
                <li>
                    <a target="_blank" href="https://github.com/ethereum/wiki/wiki/JavaScript-API#getting-started">Web3.js Docs</a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/ethereum/wiki/wiki/JavaScript-API#web3js-api-reference">API Docs</a>
                </li>
            </ul>
        </li>
        <li>
            <a target="_blank" href="https://solidity.readthedocs.io/en/latest/">Solidity Docs</a>
        </li>
        <li>
            <a href="/zh">中文</a>
        </li>
    </ul>
</div>
<div class="book-header" role="navigation">
    {% if glossary.path %}
    <a href="{{ ('/' + glossary.path)|resolveFile }}" class="btn pull-left" aria-label="{{ " GLOSSARY_OPEN "|t }}"><i class="fa fa-sort-alpha-asc"></i></a> {% endif %}
    <!-- Title -->
    <h1>
        <i class="fa fa-circle-o-notch fa-spin"></i>
        <a href="{{ " / "|resolveFile }}">{{ page.title }}</a>
    </h1>
</div>
{% endblock %} {% block javascript %} {{ super() }}
<script>
    function overFun(e) {
        e.children[1].style.display = 'block';
    }

    function outFun(e) {
        e.children[1].style.display = 'none';
    }
</script>
{% endblock %}